openapi: 3.0.0
info:
  title: BambooHR API
  description: API for accessing and managing company and employee information in BambooHR.
  version: 1.0.0
servers:
  - url: https://api.bamboohr.com/api/gateway.php/{companyDomain}/v1
    variables:
      companyDomain:
        default: yourCompanyDomain
        description: The subdomain of your BambooHR account.
paths:
  /company_information:
    get:
      summary: Retrieve Company Information
      description: Fetches detailed information about the company.
      operationId: getCompanyInformation
      responses:
        '200':
          description: Successful retrieval of company information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the company.
                  domain:
                    type: string
                    description: The domain of the company.
                  currencyCode:
                    type: string
                    description: The currency code used by the company.
                  country:
                    type: string
                    description: The country where the company is located.
                  state:
                    type: string
                    description: The state or region where the company is located.
                  timeZone:
                    type: string
                    description: The time zone of the company's primary location.
                  locale:
                    type: string
                    description: The locale setting of the company.
                  phone:
                    type: string
                    description: The primary phone number of the company.
                  fax:
                    type: string
                    description: The primary fax number of the company.
                  website:
                    type: string
                    description: The company's website URL.
                  employeeCount:
                    type: integer
                    description: The total number of employees in the company.
                  address1:
                    type: string
                    description: The first line of the company's address.
                  address2:
                    type: string
                    description: The second line of the company's address.
                  city:
                    type: string
                    description: The city where the company is located.
                  zipCode:
                    type: string
                    description: The postal code of the company's location.
        '401':
          description: Unauthorized access due to invalid or missing API key.
        '403':
          description: Forbidden access due to insufficient permissions.
        '404':
          description: The requested resource was not found.
        '500':
          description: Internal server error.
      security:
        - basicAuth: []
  /company_eins:
    get:
      summary: Retrieve Company EINs
      description: Fetches the Employer Identification Numbers (EINs) associated with the company.
      operationId: getCompanyEINs
      responses:
        '200':
          description: Successful retrieval of company EINs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  eins:
                    type: array
                    items:
                      type: object
                      properties:
                        ein:
                          type: string
                          description: The Employer Identification Number.
                        name:
                          type: string
                          description: The name associated with the EIN.
        '401':
          description: Unauthorized access due to invalid or missing API key.
        '403':
          description: Forbidden access due to insufficient permissions.
        '404':
          description: The requested resource was not found.
        '500':
          description: Internal server error.
      security:
        - basicAuth: []
  /employees:
    post:
      summary: Add New Employee
      description: Adds a new employee to the company. At a minimum, `firstName` and `lastName` are required. Additional fields can be included as necessary.
      operationId: addEmployee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: The first name of the employee.
                lastName:
                  type: string
                  description: The last name of the employee.
                # Include additional fields as necessary.
              required:
                - firstName
                - lastName
      responses:
        '201':
          description: Employee successfully added. The ID of the newly created employee is included in the Location header of the response.
          headers:
            Location:
              description: The URL of the newly created employee resource.
              schema:
                type: string
        '400':
          description: Bad request due to invalid parameters or missing required fields.
        '401':
          description: Unauthorized access due to invalid or missing API key.
        '403':
          description: Forbidden access due to insufficient permissions.
        '500':
          description: Internal server error.
      security:
        - basicAuth: []
  /employees/{id}:
    get:
      summary: Retrieve Employee Information
      description: Fetches specified fields for a given employee.
      operationId: getEmployee
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the employee.
          schema:
            type: integer
        - name: fields
          in: query
          required: true
          description: Comma-separated list of field names to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Successful retrieval of employee information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The ID of the employee.
                  firstName:
                    type: string
                    description: The first name of the employee.
                  lastName:
                    type: string
                    description: The last name of the employee.
                  # Additional fields based on the specified `fields` parameter.
        '400':
          description: Bad request due to invalid parameters.
        '401':
          description: Unauthorized access due to invalid or missing API key.
        '403':
          description: Forbidden access due to insufficient permissions.
        '404':
          description: The requested resource was not found.
        '500':
          description: Internal server error.
      security:
        - basicAuth: []
    post:
      summary: Update Employee Information
      description: Updates specified fields for a given employee.
      operationId: updateEmployee
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the employee to update.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: The first name of the employee.
                lastName:
                  type: string
                  description: The last name of the employee.
                # Include additional fields as necessary.
              required:
                - firstName
                - lastName
      responses:
        '200':
          description: Successful update of employee information.
        '400':
          description: Bad request due to invalid parameters or missing required fields.
        '401':
          description: Unauthorized access due to invalid or missing API key.
        '403':
          description: Forbidden access due to insufficient permissions.
        '404':
          description: The requested resource was not found.
        '500':
          description: Internal server error.
      security:
        - basicAuth: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
